<li class="before__promise__output">
  Before promise:
  <span class="output__span" id="before_promise_output"></span>
</li>
<li class="promiseAPI__output">
  Promise API Result:
  <span class="promise_api_output__span" id="output"></span>
</li>
<li class="after__promise__output">
  After promise:
  <span class="output__span" id="after_promise_output"></span>
</li>