.post-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;
}

.post-feed__item {
  width: 100%;
  max-width: 400px;
  margin: 10px 10px 20px;
  padding: 10px;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.post-feed__item::marker {
  content: '';
  list-style-type: none;
}

.post-feed__item:hover {
  transform: scale(1.05);
}

.post-feed__item:not(:last-child) {
  margin-bottom: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__avatar {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 135px;
  border-radius: 50%;
}

.post__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.tag-list__item {
  margin: 0 5px;
}

.tag-list__item::marker {
  content: '';
  list-style-type: none;
}
