.promiseAPI__output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
}

.promise_api_output__span {
  font-size: 32px;
  font-weight: 500;
}

.output__span {
  font-size: 32px;
  font-weight: 500;
}

.before__promise__output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  color: rgb(151, 48, 45);
}

.after__promise__output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  color: #cf4485e8;
}

.promise_api_output__span.is-resolved {
  color: green;
  text-shadow: 2px 2px 2px #44ce40;
}

.promise_api_output__span.is-rejected {
  color: red;
  text-shadow: 2px 2px 2px #8ea526;
}
