<div class='lightbox__overlay js-lightbox__overlay'></div>

<div class='lightbox__content'>
  <img
    class='lightbox__image js-lightbox__image'
    src='{{lightboxImageSrc}}'
    alt='{{lightboxImageAlt}}'
  />
</div>

<button
  type='button'
  class='lightbox__button'
  data-action='close-lightbox'
></button>