<div class="cart__example">

  <table class="cart__items">
    <tbody class="table__body" id="table-body">
      <h1 class="cart__items__header">Cart-Items:</h1>
      <div class="cart__item__buttons" id="cart-item-buttons">
        <button class="button" data-action="add_item" id="add-item">Add Item</button>
        <input class="input__txt" type="text" id="add__item__input" />
        <button class="button" data-action="delete_item" id="delete-item">Delete
          Item</button>
        <input class="input__txt" type="text" id="delete__item__input" />
      </div>
    </tbody>
  </table>
</div>